.mainBody {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.section {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.sectionHGroup {
  display: flex;
  flex-direction: column;
  gap: 12px;
  color: var(--violet-200);
}

.sectionHeading {
  font-weight: 500;
  font-size: 18px;
}

.sectionDescription {
  font-weight: 400;
  font-size: 14px;
}

.uploadIcon {
  fill: var(--violet-100);
}

.uploadButton {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  font-family: Rubik;
  padding: 12px 20px;
  align-self: flex-start;
  background: var(--violet-500);
  border: none;
  outline: none;
  border-radius: 8px;
  cursor: pointer;
  color: var(--violet-100);
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 500;
}

.uploadButton:hover {
  scale: 1.01;
}

.uploadButton:active {
  scale: 0.99;
}

.visualisationRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 48px;
}

.visualisation {
  border-radius: 4px;
  cursor: pointer;
}
