.homeView {
  background: linear-gradient(180deg, #efd7ff 0%, #f5e7ff 100%);
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.homeTeamSelectorView {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  width: 100vw;
  height: 100vh;
}

.homeTeamSelectorHeading {
  font-size: 24px;
  font-family: Barlow;
  color: #11001c;
  font-weight: 500;
}

.teamSelectorOptions {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 75%;
  flex-wrap: wrap;
  gap: 24px;
}

.teamSelectorOption,
.teamSelectorOptionCreate {
  outline: none;
  border: none;
  background: none;
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  color: #11001c;
  border-radius: 4px;
}

.teamSelectorOption:hover {
  background: #ffffff40;
}

.teamSelectorOptionImg {
  width: 180px;
  height: 180px;
  border-radius: 4px;
  object-fit: cover;
  pointer-events: none;
}

.teamSelectorOptionInfo {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 8px;
}

.teamSelectorOptionName {
  font-size: 16px;
  font-weight: 400;
  font-family: Rubik;
}

.teamSelectorCreateButton {
  outline: none;
  border: none;
  background: #11001c;
  padding: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  font-family: Rubik;
  font-size: 12px;
  color: #efd7ff;
  fill: #efd7ff;
  border-radius: 4px;
  margin-top: 24px;
}

.teamSelectorHelp {
  font-size: 12px;
  opacity: 0.75;
  position: absolute;
  bottom: 120px;
}

.menuPanel {
  background: #11001c;
  width: 280px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menuPanelContent {
  padding: 36px 16px;
  height: calc(100% - 32px);
  width: calc(100% - 72px);
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.menuPanelLogoHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
}

.menuPanelLogoHeaderTitle {
  font-family: Barlow;
  font-weight: 500;
  color: #b94dae;
  font-size: 10px;
}

.backToTeamsButton {
  color: #b94daec7;
  fill: #b94daec7;
  outline: none;
  border: none;
  width: 100%;
  background: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 10px;
  font-weight: 500;
  gap: 8px;
  align-self: flex-start;
  padding: 0px;
}

.menuPanelTeamSection {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;
}

.menuPanelCurrentTeam {
  color: #f68beb;
  font-family: Rubik;
  font-size: 14px;
  font-weight: 500;
  padding-top: 8px;
}

.menuPanelLogo {
  fill: #b94dae;
}

.menuPanelSections {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 36px;
}

.menuPanelSection {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}

.sectionHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 6px;
}

.sectionIcon {
  fill: #b94dae;
}

.sectionTitle {
  color: #b94dae;
  font-family: Rubik;
  font-weight: 600;
  font-size: 10px;
}

.sectionItems {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.sectionItem,
.sectionItemSelected,
.sectionAddButton {
  padding: 8px 16px;
  transition: 0.1s;
  font-weight: 400;
  color: #eed7ff;
  opacity: 0.5;
  font-size: 12px;
  font-family: Barlow;
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  border-radius: 2px;
  display: flex;
}

.sectionItem:hover,
.sectionItemSelected:hover {
  background: #4f0147;
  transform: scale(1);
}

.sectionItem:active,
.sectionItemSelected:active {
  transform: scale(0.99);
}

.sectionAddButton:hover {
  background: #23003a;
  transform: scale(1);
}

.sectionAddButton:active {
  background: #23003a;
  transform: scale(0.99);
}

.sectionAddButton,
.sectionItemSelected {
  font-weight: 600;
  opacity: 1;
}

.sectionAddButton {
  color: #f190e7;
  margin-top: 12px;
}

.sectionItemSelected {
  background: #4f0147;
}

.homePanel {
  padding: 80px 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: calc(100% - (280px + 80px));
  height: calc(100% - 160px);
  overflow-y: auto;
}

.homePanelHeading {
  font-size: 16px;
  color: #11001c;
  font-weight: 500;
  font-family: Rubik;
}

.homePanelHgroup {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.homePanelMetadata {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
}

.homePanelMetadataDate {
  color: #290025;
  opacity: 0.6;
  font-family: Barlow;
  font-weight: 400;
  font-size: 12px;
}

.homePanelContent {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contentView {
  display: flex;
  flex-direction: column;
  gap: 64px;
}

.contentHeader {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.addContentButton {
  outline: none;
  border: none;
  background: #11001c;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  fill: #eed7ff;
  color: #eed7ff;
  align-self: flex-start;
  padding: 8px;
  border-radius: 4px;
  cursor: pointer;
  font-family: Barlow;
  font-weight: 600;
  font-size: 12px;
}

.contentSubheading {
  color: #11001c;
  font-weight: 600;
  font-family: Barlow;
  font-size: 16px;
}

.contentFilterRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.filterRowSearchAndSort {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 24px;
  width: min(720px, 50%);
}

.filterSearchbar {
  background: #fbf5ff;
  border-radius: 4px;
  padding: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  flex: 1;
}

.filterSearchbarIcon {
  fill: #11001c;
}

.filterSearchbarInput {
  background: none;
  width: 100%;
  color: #11001c;
  border: none;
  outline: none;
  font-family: Rubik;
  font-size: 14px;
}

.filterSearchbarInput::placeholder {
  color: #11001c40;
}

.filterSort {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2px;
}

.filterSortText {
  font-family: Rubik;
  font-size: 12px;
  font-weight: 400;
  color: #11001c;
}

.filterSortDropdown {
  background: none;
  border: none;
  outline: none;
  font-family: Rubik;
  font-weight: 500;
  font-size: 12px;
  color: #11001c;
  cursor: pointer;
}

.filterRowViewToggles {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.filterRowViewToggle,
.filterRowViewToggleSelected {
  padding: 8px 12px;
  background: none;
  outline: none;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 6px;
  color: #11001c;
  fill: #11001c;
  font-size: 12px;
}

.filterRowViewToggleSelected {
  color: #efd8ff;
  fill: #efd8ff;
  background: #11001c;
}

.filterRowViewToggle:hover {
  transform: scale(1);
  background: #11001c;
  color: #efd8ff;
  fill: #efd8ff;
}

.filterRowViewToggle:active {
  transform: scale(0.99);
}
