.logoHeader,
.logoHeaderSmall {
  position: fixed;
  left: 48px;
  top: 48px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.logoHeaderSmall {
  gap: 8px;
}

.logoHeading {
  font-size: 28px;
}

.logoHeadingSmall {
  font-size: 12px;
}

.logoHeaderHeadings {
  display: flex;
  flex-direction: column;
  gap: 8px;
  color: var(--violet-100);
}
