.logoHeader {
  position: fixed;
  left: 48px;
  top: 48px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 24px;
}

.logoHeading {
  font-size: 40px;
}

.logoHeaderHeadings {
  display: flex;
  flex-direction: column;
  gap: 8px;
  color: var(--violet-100);
}
