.shareIcon {
  fill: var(--violet-100);
}

.fileUploadFileText {
  background: var(--violet-300);
  color: var(--violet-200);
  font-size: 12px;
}

.textInput {
  padding: 16px 12px;
  background: var(--violet-500);
  border: none;
  outline: none;
  font-size: 12px;
  color: var(--violet-100-placeholder);
  border-radius: 4px;
  min-width: calc(100% - 28px);
  max-width: calc(100% - 28px);
}

.textInput::placeholder {
  color: var(--violet-100-placeholder);
}

.textInputLabel {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 12px;
  font-weight: 400;
  gap: 4px;
  color: var(--violet-100-meta);
}

.textInputContainer {
  min-width: calc(50% - 8px);
  max-width: calc(50% - 8px);
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.menuDatasetCategory {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.menuDatasetCategoryName {
  font-weight: 600;
}

.menuDatasetCategoryItems {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 12px;
}

.datasetCategoryItem {
  border: none;
  outline: none;
  width: 100%;
  padding: 12px 12px;
  color: var(--violet-100);
  background: var(--violet-300);
  border-radius: 4px;
  text-align: left;
  font-size: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.datasetCategoryItemName {
  font-weight: 600;
  font-size: 14px;
}

.updatedAtText {
  color: var(--violet-100-meta);
}

.uploadButton {
  color: var(--violet-100);
  padding: 12px;
  background: var(--violet-500);
  border: none;
  outline: none;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  margin-top: 12px;
}
